* {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

.header-text {
  margin: 0vw 30vw 0 15vw;
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: x-large;
  background-color: white;
}

header h2 {
  color: red;
  background-color: white;
}

header h4 {
  background-color: white;
}

.quiz-header {
  font-family: "Oswald", sans-serif;
}

.space-div {
  height: 20vw;
}

#main {
  position: relative;
  top: 100px;
  font-family: "Oswald", sans-serif;
}

#form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
  width: 50vw;
  background-color: black;
}

.questionLayout h1{
  color: white;
  background-color: black;
}

.answerSheet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vw;
  grid-template-areas:
    ". . . ."
    ". . . .";
  width: 100%;
  
}

label {
  height: 10vw;
  text-align: center;
  text-justify: center;
  background-color: red;
}

#flowerSheet label {
  height: 15vw;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

[type="radio"]:checked + img {
  outline: 2px solid #f00;
}

#answer2{
  padding-left: 10vw;
  padding-right: 10vw;
}
